@use "@/variable" as var;

.forgot {
  padding: 10px;
  .forgot_wrap {
    .forgot_title_wrap {
      .forgot_title {
        font-size: 14px;
        margin-bottom: 20px;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid #e9e9ea;
        text-transform: uppercase;
      }
    }
  }
  .forgot_otp_inp_wrap {
    width: 100%;
    .forgot_otp_inp_title {
      font-size: 14px;
      margin-bottom: 20px;
      width: 100%;
      text-align: left;
      margin-top: 30px;
    }
    .forgot_otp_inp {
      width: 40px !important;
      height: 40px;
      margin: 0px 10px;
    }
  }
}
