NEXT_PUBLIC_ENV=production
NEXT_PUBLIC_NAME=Frapapa
NEXT_PUBLIC_PROD_API=http://localhost:8000/api
NEXT_PUBLIC_DEV_API=http://localhost:8000/api
NEXT_PUBLIC_SPORTS_API=http://localhost:5001/api/v2
#https://sports-api.sportsbookengine.com/api
NEXT_PUBLIC_WEB_SERVICE_API=https://localhost:3000
NEXT_PUBLIC_BASEURL=https://www.frapapa.com
NEXT_PUBLIC_CURRENCY=NGN
NEXT_PUBLIC_WTH_PERC=0
NEXT_PUBLIC_EXCISE_DUTY=0
NEXT_PUBLIC_FAST_ADD_AMOUNTS="20,50,100,200,500"
NEXT_PUBLIC_TIMEZONE=Africa/Lagos

NEXT_PUBLIC_PUSHER_APP_KEY=dqiuHEUEdSFgezRbsiB5
NEXT_PUBLIC_PUSHER_APP_CLUSTER=sb1
NEXT_PUBLIC_MIN_BONUS_ODD=3.0

NEXT_PUBLIC_APP_KEY=FRP

NEXT_PUBLIC_SITE_URL=//localhost:8083/

NEXT_PUBLIC_MaxCombinationsByGrouping=100000
NEXT_PUBLIC_MaxCouponCombinations=483091
NEXT_PUBLIC_MinBonusOdd=1.2
NEXT_PUBLIC_MinGroupingsBetStake=5
NEXT_PUBLIC_MaxGroupingsBetStake=41641682
NEXT_PUBLIC_MinBetStake=100
NEXT_PUBLIC_StakeInnerMod0Combination=0.1

NEXT_PUBLIC_GLOBALBET_PROD=https://sportsbookengine.virtual-horizon.com
NEXT_PUBLIC_GLOBALBET_TEST=https://sportsbookengine-test.virtual-horizon.net

NEXT_PUBLIC_XPRESS_LAUNCH_URL=https://frapapa.hub.xpressgaming.net/Launcher
NEXT_PUBLIC_XPRESS_PRIVATE_KEY=5YT6CKBAH9SDJ70RMWI2
NEXT_PUBLIC_XPRESS_PUPLIC_KEY=QN6FDCX0WTOMPYJ

NEXT_PUBLIC_URL=https://mobile.frapapa.com
NEXT_PUBLIC_SITE_KEY=FRP
PORT=8021
