@use "@/variable" as var;

.all_sports {
  .all_sports_link {
    align-items: center;
    width: 100%;
    background-color: var.$green;
    border-bottom: 1px solid #182220;
    padding: 11px;
    .all_sports_link_left {
      .all_sports_icon {
        margin-right: 10px;
      }
      .all_sports_title {
        font-size: 11px;
        color: #fff;
        font-weight: 300;
      }
    }
    .all_sports_right {
      .all_sports_num {
        font-size: 12px;
        color: #fff;
      }
      .all_sports_down {
        font-size: 18px;
        color: #fff;
      }
    }
  }
}

.sbe-sb-sports-icon,
.sbe-sb-mb-sports-icon {
  font-size: 18px;
  color: #aab1b9;
}
