@use "@/variable" as var;

.help {
  padding: 20px 8px;
  background-color: #fff;
  .help_select {
    background-color: var.$green;
    padding: 20px;
    width: 100%;
    overflow-x: scroll;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;

    .select_text {
      color: #fff;
      padding-bottom: 4px;
      transition: color 0.3s linear;
      cursor: pointer;
      white-space: nowrap;
      font-size: 12px;
      font-weight: 300;

      &:hover {
        color: #959292;
      }
    }

    .active {
      color: #959292;
    }
  }
  .help_content {
    width: 100%;
  }
}
