@use "@/variable" as var;

.leagues_tab {
  overflow-x: scroll;
  border-top: 1px solid rgba(114, 113, 113, 0.5);
  padding: 4px 0px;
  background-color: var.$sec-bg-color;
  //   gap: 5px;
  .leagues_tab_item {
    position: relative;
    padding: 10px 18px;
    .leagues_tabimg {
      margin-right: 5px;
      width: 25px;
      height: 25px;
      object-fit: contain;
    }
    .leagues_tab_text {
      font-size: 11px;
      white-space: nowrap;
    }
  }
  .active {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      background-color: var.$secondary-accent;
    }
  }
}
