@use "@/variable" as var;

.comp {
  .competition {
    border-radius: 0px !important;
    border-radius: 0px;
  }
}

.stick_tournament {
  position: fixed;
  top: 95px;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}